.grid {
  width: 800px;
  margin: auto auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
  align-items: center;
}


.type-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background: white;
  width: 400px;
  margin: auto auto;
  text-align: center;;
}

@media(max-width: 1540px){
  .grid {
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .type-card {
    width: 325px;
  }
}
